<div class="section-container">
    <div class="members-container">
      <div class="member">
        <img src="assets/images/membre_ayoub.jpg" alt="Person 1" class="member-image" />
        <div class="member-info">
          <p class="name">Ayoub HASSANI</p>
          <p class="study">5A IA2R SIR</p>
        </div>
      </div>
      
      <div class="member">
        <img src="assets/images/membre_wassil.jpg" alt="Person 2" class="member-image" />
        <div class="member-info">
          <p class="name">Wassil NAKIB</p>
          <p class="study">5A IA2R SIR / IA2VR</p>
        </div>
      </div>
      
      <div class="member">
        <img src="assets/images/membre_salma.jpg" alt="Person 3" class="member-image" />
        <div class="member-info">
          <p class="name">Salma CHIADMI</p>
          <p class="study">5A IA2R SIR / IA2VR</p>
        </div>
      </div>
    </div>
  </div>
  